body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}
h1, h2, h3, h4, h5, h6
{
    font-family: 'Fjalla One', sans-serif;
}
h1{
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: -.2px;
    color: white;
    margin: 0;
}
h1 strong
{
    color: #026fff;
}
h2
{
    color: #026fff;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}
.header
{
    background-color: #1b2127;
    color: white;
    height: 70px;


}
.header div{
    display: flex;
    justify-content: space-between;
    height: inherit;
    align-items: center;
    flex-wrap: wrap;
}

.header .logo
{
    margin: 0;
}
.header .menu{
    display: flex;
    align-self: center;
}
.header ol
{   
    height: inherit;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.header ol li{
    height: inherit;
}
.header div nav ol li a{
    color: white;
    text-decoration: none;
    height: inherit;
    padding: 0 10px;
}
.hero{
    height: 300px;
    /* background-image: url('./desarrollo-web-portafolio-9af19a0a0fcd9fb6a66c3831cca6aaebf3328762/images/hero.jpg'); */
    background-color: #1b2127;
    /* background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position-x: right; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.hero-image
{
    object-fit: cover;
}
.portafolio
{
    background: #fafafa;
    padding: 20px;
}
.project
{
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 20px;
    /* margin: 10px; */
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.project strong
{
    font-family: 'Fjalla One', sans-serif;
}
.project-title{
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 0;
}
.project-course
{
    margin: 10px 0;
}
.project-date{
    margin: 10px 0;
}
.project-url
{
    margin: 10px 0;
}
.project-description{
    font-size: 20px;
    font-weight: bold;
}
.project-details
{
    width: 50%;
}
.project-imageContainer
{
    margin: 0;
    width: 50%;
}
.project-imageContainer img
{
    max-width: 100%;
}
.footer{
    color: white;
    background-color: #1b2127;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer img{
    vertical-align: middle;
}
.event-list
{
    display: flex;
    flex-wrap: wrap;
}
.event
{   
    margin: 1%;
    width: 48%;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
    background-color: #f4fbff;
}
.event figure{
    margin: 0;
}
.event-img{
    height: 200px;
    width: 480px;
    object-fit: cover;
}
.event-detail{
    margin: 20px 40px;
    margin-top: -40px;
    background-color: white;
    position: relative;
    padding: 20px;
    text-align: center;
}
.event-description
{
    text-align: left;
}
.event-url
{
    border: 1px solid #056fff;
    padding: 5px 20px;
    text-decoration: none;
    color: #056fff;
    border-radius: 5px;
}
.event-list-title
{
    margin-left: 20px;
}
.contact
{
    background-color: #056fff;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.social-link{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
}
.social-link.twitter
{
    background-image: url("./desarrollo-web-portafolio-9af19a0a0fcd9fb6a66c3831cca6aaebf3328762/images/twitter.svg");
    background-size: 50px 50px;
}
.social-link.facebook
{
    background-image: url("./desarrollo-web-portafolio-9af19a0a0fcd9fb6a66c3831cca6aaebf3328762/images/facebook.svg");
    background-size: 50px 50px;
}
.social-link.github
{
    background-image: url("./desarrollo-web-portafolio-9af19a0a0fcd9fb6a66c3831cca6aaebf3328762/images/github.svg");
    background-size: 50px 50px;
}
.social-link.instagram
{
    background-image: url("./desarrollo-web-portafolio-9af19a0a0fcd9fb6a66c3831cca6aaebf3328762/images/instagram.svg");
    background-size: 50px 50px;
}
.form-email input{
    border-color: gray;
    padding: 10px 20px 10px 25px;
    border-radius: 5px;
    border-style: solid;
    background-image: url("./desarrollo-web-portafolio-9af19a0a0fcd9fb6a66c3831cca6aaebf3328762/images/envelope.svg");
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 4px;
}
.form-email button
{
    display: block;
    background: transparent;
    color: white;
    padding: 10px 0;
    border-radius: 5px;
    width: 100px;
    margin-top: 10px;
}
.form-email h3
{
    font-family: 'Source Sans Pro', sans-serif ;
}
.container
{
    max-width: 1000px;
    margin: 0 auto;
    display: inherit;
    flex: 1;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}
@media screen and (max-width: 1024px)
{
    .container
    {
        padding: 0 .5em;
    }
    .hero{
        height: auto;
        position: relative;
        overflow: hidden;
        padding: 2em;
    }
    h1
    {
        font-size: 2em;
        z-index: 2;
        text-shadow: 1px 2px 2px #000;

    }
    .hero-image
    {
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        width: 100%;
    }
}

@media screen and (max-width: 767px)
{   

    .header div
    {
        display: block;
    }
    .header
    {
        height: auto;
    }
    .header ol
    {
        display: block;
    }
    .header ol li 
    {
        height: 50px;
    }
    .header div nav ol li a 
    {
        display: flex;
        justify-content: center;
    }
    .header .menu
    {
        display: block;
    }
    .header .logo
    {
        text-align: center;
        margin-bottom: 10px;
    }
    .project
    {
        display: block;
    }
    .project-imageContainer
    {
        width: auto;
        text-align: center;
    }
    .project-details
    {
        width: auto;
        /* font-size: 16px ; */
    }
    .project-course, .project-date, .project-url{
        margin: .4em 0;
    }
    .project-title
    {
        font-size: 1.5em;
        margin-bottom: .3em;
    }
    .project-url
    {
        font-size: 1em;
    }
    .project-course
    {
        font-size: .7em;
    }
    .project-date
    {
        font-size: 1em;
    }
    .project-description
    {
        font-size: 0.8em;
    }
    .event
    {
        width: auto;
        flex-shrink: initial;
    }
    .event img
    {
        width: 100%;
        max-height: 250px;
        object-position: 25% 25%;
    }
    .container
    {
        padding: 0 .5em;
    }
    h1{
        text-shadow: 1px 2px 2px #000;
    }
}
@media screen and (max-width: 480px)
{
    .project-details
    {
        font-size: 13px;
    }
    .event-detail
    {
        margin: -2em .5em .5em;
        padding: 1em;
    }
    .contact
    {
        height: auto;
        padding: 1em 0em;
        text-align: center;
        display: block;
    }
    .form-email button
    {
        margin: 1em auto;
    }
    .form-email h3
    {
        margin-top: 0;
    }
    .footer
    {
        display: block;
        text-align: center;
        border: 1px solid transparent;
    }
    h1
    {
        font-size: 1.5em;
        text-shadow: 1px 2px 2px #000;
    }
@media screen and (max-width: 320px)
{
    h1
    {
        font-size: 1.2em;
        text-shadow: 1px 2px 2px #000;
    }
    .hero
    {
        padding: 2em 1em;
    }
}